body {
    padding: 25px;
    background-color: white;
    color: black;
    /* font-size: 25px; */
}

.dark-mode {
    background-color: black;
    color: white;
}

.p {
    display: flex;
    align-items: center;
}

.p span {
    margin: 0px 10px;
}

.header-container {
    display: flex;

    /* margin: 0px 10px; */

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
/* .blog{
    margin-right: 10px;
} */

.details .link {
    margin-left: 10px;
}

@media only screen and (min-width: 600px) {
    .header {
        width: 100vw;
    }
}