.footer-container {
  
    background-color: black;
    color: white;
    /* padding: 20px; */

    margin: 0px 20px;
    width: 100%;
}



.footer-item {
    display: flex;
   
    align-items: center;
}
.footer-content{
    display: flex;
    justify-content:space-around;
}

.footer-content .para{
    width: 64%;
}

.main p {
    width: 340px;
}