.title {
    text-align: center;

    height: 400px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    /* margin-top: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.description {
    display: grid;
    grid-template-columns: 3fr 2fr;
    /* text-align: center; */
}

.job_desc {
    display: flex;
    flex-direction: column;
    padding: 10px;


}

.job_desc p {
    margin-right: 150px;
    line-height: 32px;

}

.job_desc span {
    font-weight: bold;
}

.job_details_content span {
    font-weight: bold;
}

.job_details_content {
    padding: 10px;
}

.hr {
    width: 100%;
    text-align: center;

}

.job-detail {
    border: 1px solid grey;
    height: 450px;
    /* width: 850px; */
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.10) 0%, rgba(152, 115, 255, 0.10) 100%);
    margin: 0px;

}

.info {
    margin: 20px 0px;
}

.apply {
    width: 100%;

}

.apply:hover {
    background-color: darkgreen;
}

@media only screen and (min-width: 600px) {

    .job-detail {
        border: 1px solid grey;
        height: 550px;
        /* width: 850px; */
        border-radius: 4px;
        background: linear-gradient(90deg, rgba(126, 144, 254, 0.10) 0%, rgba(152, 115, 255, 0.10) 100%);


    }

    .job_details_content span {
        font-weight: normal;
    }
    .apply{
        margin-bottom: 10px;
    }



}