.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.text {
    color: orange;
}


.banner-container p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.banner-container img {
    height: 744px;
    ;
}

@media only screen and (max-width: 600px) {
    .banner-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 20px;
        flex-direction: column;
    }

    .banner-content h1 {
        font-size: 18px;
    }

    .banner-content p {
        font-size: 14px;
    }

    .banner-content button {
        font-size: 12px;
    }

    .banner-container img {
        height: 200px;
    
        ;
    }
}